<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mplanet-喵星科技</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="description" content="南京喵星科技（www.mplanet.cn）是一家专注于车载智能硬件研发设计，集制造、销售和服务为一体的移动互联网科技公司。喵星旨在利用前沿的计算机视觉、移动互联网技术以及业内领先的软硬件设计和工业设计经验，通过颠覆式的智能汽车产品服务，带给用户更有趣、更智慧、更方便、更人性的极致车生活体验。" />
    <meta name="keywords"  content="mplanet,meowcloud,喵小瞳,喵星科技,喵星" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/example.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <style type="text/css">
        .carousel{
            box-shadow: 0 0 0;
        }
    </style>
</head>
<body id="show">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="true">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="img/logo1.png" title="喵星科技" alt="喵星科技"></a>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar" aria-expanded="true" style="">
            <ul class="nav navbar-nav">
                <li><a href="index.html">首页</a></li>
                <li><a href="solutions.html"  class="nav_active">解决方案</a></li>
                <li><a href="product.html">产品中心</a></li>
                <li><a href="mplanetmedia.html">新闻中心</a></li>
                <li><a href="talent.html">招纳贤士</a></li>
                <li><a href="javascript:void(0)" class="login_menu"><img src="img/phone.png">025-52233243</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="hidden-header">

</div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
    <!--</ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="img/banner3.png" alt="">
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
        <!--<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
        <!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Next</span>-->
    <!--</a>-->
</div>
<div class="container-fluid car-solution">
    <div  class="container car-solution-main">
        <div class="row">
            <span  class="thumbnail">
                <img src="img/car_solution.png" class="img-rounded"/>
            </span>
        </div>
        <div class="car-solution-content col-md-12 media">
            <div class="col-md-12">
                <div class="col-md-4">
                    <ul class="user">
                        <li>用户痛点：</li>
                        <li>施工地点分布散乱，施工环境复杂，管理人员现场跟踪的效率不高；</li>
                        <li>传统跑工地记工时的方式，无法实时有效监控和精细化管理；</li>
                        <li>施工安全难以管控，施工进度无法进行有效和科学的调整；</li>
                        <li>盗窃油料和破坏机械的情况时有发生，给管理者造成损失；</li>
                        <li>无法及时发现机械故障，耽误工期，增加维修成本；</li>
                        <li>金融租赁方无法对机械进行有效管控，无法预知金融风险；</li>
                    </ul>
                </div>
                <div class="col-md-8">
                <span  class="thumbnail">
                    <img src="img/solve_1.png" class="img-rounded"/>
                </span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <ul class="user">
                        <li>解决方案</li>
                        <li>1、机械工作时长精准统计，远程获取有效工作时间和怠速时间，无需跑现场手工记录</li>
                        <li>2、油位实时监控，细分怠速和负载时间和油耗，真实体现出工程机械的实际工作油耗，帮助客户分析工作效率，杜绝油料盗窃情况，实现精细化售理</li>
                        <li>3、发动机转速、液压油温、水温、电压等工作参数实时掌控，协助客户时刻监控机械健康状况，第一时间排除隐患，保持机械健康，提升工作效率</li>
                        <li>4、智能终端具备360度全景监控、红外夜视和远程语音对讲功能，通过PC和移动终端对工作进度进行可视化管理，并全天候保障施工安全</li>
                        <li>5、通过各类日报和月表统计，以及精细到每台机械的收支记录，帮助用户统计产出比，轻松掌握营收情况，并通过数据大屏监控、机械效率排名等手段，提高管控效率</li>
                        <li>6、通过震动提醒、定位轨迹、围栏提醒和故障日志等多种手段，结合工时和工作参数统计来实时掌控机械情况，有效帮助金融租赁方规避金融风险</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="footer-menu d-flex flex-wrap">
            <div class="footer-column">
                <h3>友情合作</h3>
                <ul>
                    <li><a target="_blank" href="http://www.tisiwi.com/">天使湾创投</a></li>
                    <li><a target="_blank" href="http://iot.open.qq.com/">腾讯QQ物联</a></li>
                    <li><a target="_blank" href="http://www.foxconn.com.cn/">富士康科技集团</a></li>
                    <li><a target="_blank" href="http://www.ctoutiao.com/">创头条</a></li>
                    <li><a target="_blank" href="http://www.lkkdesign.com/">洛可可</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>联系我们</h3>
                <ul>
                    <li><a>地址：江苏省南京市长江后街6号东大科技园</a></li>
                    <li><a>邮箱：mp@mplanet.cn</a></li>
                    <li><a>电话：025-52233243</a></li>
                    <li><a>QQ客服：3422019763<br/>（工作时间：周一至周五 9:00-18:00）</a></li>
                </ul>
            </div>
            <div class="footer-column footer-contact">
                <h3>关注我们</h3>
                <ul>
                    <li><img src="img/gzh.png"></li>
                </ul>
            </div>
        </div>
        <div class="end">
            <a href="http://www.beian.miit.gov.cn">苏ICP备14042110号</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;南京喵星科技有限公司<br>
        </div>
    </div>

</div>
<div id="ProductTipLayer" style="display:none;"><script language="javascript" type="text/javascript" src="http://js.users.51.la/18617005.js"></script></div>
<script type="text/javascript">
    $('.navbar-default .navbar-nav > li:last-of-type > a').hover(function(){
        $(this).children('img').attr('src','img/phone_blue.png');
    },function () {
        $(this).children('img').attr('src','img/phone.png');
    })
</script>
</body>
</html>
