<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mplanet-喵星科技</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="description" content="南京喵星科技（www.mplanet.cn）是一家专注于车载智能硬件研发设计，集制造、销售和服务为一体的移动互联网科技公司。喵星旨在利用前沿的计算机视觉、移动互联网技术以及业内领先的软硬件设计和工业设计经验，通过颠覆式的智能汽车产品服务，带给用户更有趣、更智慧、更方便、更人性的极致车生活体验。" />
    <meta name="keywords"  content="mplanet,meowcloud,喵小瞳,喵星科技,喵星" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/example.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <style type="text/css">
        .carousel{
            box-shadow: 0 0 0;
        }
    </style>
</head>
<body id="show">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="true">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="img/logo1.png" title="喵星科技" alt="喵星科技"></a>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar" aria-expanded="true" style="">
            <ul class="nav navbar-nav">
                <li><a href="index.html">首页</a></li>
                <li><a href="solutions.html"  class="nav_active">解决方案</a></li>
                <li><a href="product.html">产品中心</a></li>
                <li><a href="mplanetmedia.html">新闻中心</a></li>
                <li><a href="talent.html">招纳贤士</a></li>
                <li><a href="javascript:void(0)" class="login_menu"><img src="img/phone.png">025-52233243</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="hidden-header">

</div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
    <!--</ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="img/banner3.png" alt="">
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
        <!--<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
        <!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Next</span>-->
    <!--</a>-->
</div>
<div class="container-fluid car-solution">
    <div  class="container car-solution-main">
        <div class="row">
            <span  class="thumbnail">
                <img src="img/logistics_solution.png" class="img-rounded"/>
            </span>
        </div>
        <div class="car-solution-content col-md-12 media home-solution-content">
            <div class="col-md-12">
                <div class="col-md-7">
                    <span  class="thumbnail">
                        <img src="img/solve_3.png" class="img-rounded"/>
                    </span>
                </div>
                <div class="col-md-5">
                    <ul class="user">
                        <li><h1>物流货运安全协同解决方案</h1></li>
                        <li>为物流货运车辆提供驾驶安全保障、驾驶人员远程可视化交互、货物视频监控、车辆实时定位和车辆防盗等功能，搭配业务管理云平台为物流货运业务提供协同和支持。</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="footer-menu d-flex flex-wrap">
            <div class="footer-column">
                <h3>友情合作</h3>
                <ul>
                    <li><a target="_blank" href="http://www.tisiwi.com/">天使湾创投</a></li>
                    <li><a target="_blank" href="http://iot.open.qq.com/">腾讯QQ物联</a></li>
                    <li><a target="_blank" href="http://www.foxconn.com.cn/">富士康科技集团</a></li>
                    <li><a target="_blank" href="http://www.ctoutiao.com/">创头条</a></li>
                    <li><a target="_blank" href="http://www.lkkdesign.com/">洛可可</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>联系我们</h3>
                <ul>
                    <li><a>地址：江苏省南京市长江后街6号东大科技园</a></li>
                    <li><a>邮箱：mp@mplanet.cn</a></li>
                    <li><a>电话：025-52233243</a></li>
                    <li><a>QQ客服：3422019763<br/>（工作时间：周一至周五 9:00-18:00）</a></li>
                </ul>
            </div>
            <div class="footer-column footer-contact">
                <h3>关注我们</h3>
                <ul>
                    <li><img src="img/gzh.png"></li>
                </ul>
            </div>
        </div>
        <div class="end">
            <a href="http://www.beian.miit.gov.cn">苏ICP备14042110号</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;南京喵星科技有限公司<br>
        </div>
    </div>

</div>
<div id="ProductTipLayer" style="display:none;"><script language="javascript" type="text/javascript" src="http://js.users.51.la/18617005.js"></script></div>
<script type="text/javascript">
    $('.navbar-default .navbar-nav > li:last-of-type > a').hover(function(){
        $(this).children('img').attr('src','img/phone_blue.png');
    },function () {
        $(this).children('img').attr('src','img/phone.png');
    })
</script>
</body>
</html>
