<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mplanet-喵星科技</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="description" content="南京喵星科技（www.mplanet.cn）是一家专注于车载智能硬件研发设计，集制造、销售和服务为一体的移动互联网科技公司。喵星旨在利用前沿的计算机视觉、移动互联网技术以及业内领先的软硬件设计和工业设计经验，通过颠覆式的智能汽车产品服务，带给用户更有趣、更智慧、更方便、更人性的极致车生活体验。" />
    <meta name="keywords"  content="mplanet,meowcloud,喵小瞳,喵星科技,喵星" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/example.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <style type="text/css">

    </style>
</head>
<body id="show">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="true">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="img/logo1.png" title="喵星科技" alt="喵星科技"></a>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar" aria-expanded="true" style="">
            <ul class="nav navbar-nav">
                <li><a href="index.html">首页</a></li>
                <li><a href="solutions.html">解决方案</a></li>
                <li><a href="product.html">产品中心</a></li>
                <li><a href="mplanetmedia.html" class="nav_active">新闻中心</a></li>
                <li><a href="talent.html">招纳贤士</a></li>
                <li><a href="javascript:void(0)" class="login_menu"><img src="img/phone.png">025-52233243</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="hidden-header">

</div>
<div class="mainBox container-fluid">
    <div class="mett hide"><img src="img/mplanet-media-tt.jpg"/></div>
    <div class="main container">
        <div class="mainTitle"><img src="img/media-title.png"/></div>
        <div class="contentBox">
            <div class="news01"><a href="javascript:void(0);" onclick="alert('找不到内容')">
                <div class="news01Left"><img src="img/20171020-loge.jpg" /><span>10.20<p>2017</span></div>
                <div class="news01Right"><h1>用喵小瞳 联通你我</h1>
                    <p>即日起，凡关注“江苏联通”微信公众号（微信公众号jslt88）并参与“喵小瞳”话题活动的用户，即有机会获取以下奖励</p>
                </div>
            </a>
            </div>
            <!--news01 end-->

            <div class="news01"><a href="javascript:void(0);" onclick="alert('找不到内容')">
                <div class="news01Left"><img src="img/20170331-loge.jpg"/><span>03.31<p>2017</span></div>
                <div class="news01Right"><h1>行车记录仪也疯狂 喵小瞳4G互联网行车记录仪评测</h1>
                    <p>车品研究所是老司机说车倾力打造的一档汽车用品评测栏目，评测内容涉及汽车影音、电子电器、内饰用品、养护美容等常用汽车用品，抽丝剥茧测试车品本质，为用户提供最客观的点评和最专业的建议。我们欢迎后市场企业的产品评测挑战，只要你有好本事！欢迎来战！</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a href="javascript:void(0);" onclick="alert('找不到内容')">
                <div class="news01Left"><img src="img/20170315-loge.jpg"/><span>03.15<p>2017</span></div>
                <div class="news01Right"><h1>不拆不知道，这就是喵小瞳360°旋转的秘密</h1>
                    <p>今天给大家带来喵小瞳MP1232/4G标准版的拆机测评，说句心里话还是蛮忐忑的，怕给拆坏了。不过实在是有点好奇，加上技术宅，以前也拆过电器无数了，还是有点信心的，上全套作案工具。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="http://dealers.auto.163.com/54531/normal/201703/71629.html">
                <div class="news01Left"><img src="img/20170313-loge.jpg"/><span>03.13<p>2017</span></div>
                <div class="news01Right"><h1>广角镜头+夜视功能+对讲机，喵小瞳要上天啊</h1>
                    <p>一直想找一种可以远程监控的行车记录仪, 各种产品关注了很久, 也关注过后视镜产品不过本人老司机, 习惯了看内后视镜, 而且也没有找到能远程视频监控的后视镜。其实从喵小瞳I代的时候就已经关注了，不过I代是3G的总感觉速度可能不够，就看看厂家啥时候能发布4G的产品，毕竟现在4G网络也很发达了。终于等到了厂家发布II代4G版了，果断拔草了喵小瞳MP1232/4G标准版。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="html/20170118.html">
                <div class="news01Left"><img src="img/20170118-loge.jpg"/><span>01.18<p>2017</span></div>
                <div class="news01Right"><h1>2016年完美收官  喵小瞳LINC汽车创业大赛总决赛再获佳绩</h1>
                    <p>2016年，由车云网主办的2016LINC交通创业大赛分别在上海、北京、武汉三站如火如荼的举行，24位专业投资人评委从“创新、团队、潜力”分别进行专业评判，最终我司选送的喵小瞳智能行车记录仪项目在百余个项目中脱颖而出，成功入围总决赛21强。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="html/20161103.html">
                <div class="news01Left"><img src="img/20161103-logo.jpg"/><span>11.03<p>2016</span></div>
                <div class="news01Right"><h1>洛客发布盛典南京站荣耀开启  喵小瞳二代首次曝光</h1>
                    <p>近日，全球设计领域的时尚盛典洛客发布盛典陆续在上海等地举办，10月30日，洛客发布盛典南京站在南京创意设计中心如期而至，为创新产业打造了一场无与伦比的品牌盛宴和全新生态产业链。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="html/20161025.html">
                <div class="news01Left"><img src="img/20161025-logo.jpg"/><span>10.25<p>2016</span></div>
                <div class="news01Right"><h1>喵小瞳在第二届“i创杯”互联网创新创业大赛中荣获优秀奖</h1>
                    <p>第二届 “i创杯”江苏省互联网创新创业大赛总决赛暨颁奖大会于2016年10月25日在南京市江宁区石塘互联网小镇圆满落幕。本届大赛由江苏省经济与信息化委员会主办，南京市江宁区人民政府、江苏省广播电视总台、创客公社等单位承办。初赛于2016年5月15日启动，共吸引了千余个项目参赛，项目覆盖消费领域，云计算与大数据，智能硬件，以及“互联网+”工业、农业、教育文化等多领域、多行业。经过前期初赛、复赛，分别有272个项目晋级复赛、108个项目晋级决赛。决赛于10月23日开始，10月25日结束，在为期三天的激烈激烈角逐中，我司选送的喵小瞳智能行车记录仪项目最终获得优秀奖。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="html/20160924.html">
                <div class="news01Left"><img src="img/20160924-logo.jpg"/><span>09.24<p>2016</span></div>
                <div class="news01Right"><h1>喜讯：喵小瞳在第二届“奇思甬动”创客大赛中勇夺最佳科技奖</h1>
                    <p>2016年9月24日，第二届“奇思甬动”中国（宁波）创客大赛颁奖仪式暨创客作品展在宁波泛太平洋酒店举行，太火鸟创始人雷海波、洛客创始人贾伟、京东智能副总裁刘子豪、乐行天下CEO周伟、天使街创始人黄超达出席颁奖仪式，并以“智能经济生态”为主题探讨未来科技生活模式。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="html/20160914.html">
                <div class="news01Left"><img src="img/20160914-logo.jpg"/><span>09.14<p>2016</span></div>
                <div class="news01Right"><h1>快讯：喵小瞳入围“i创杯”互联网创新创业大赛决赛圈</h1>
                    <p>9月14日，由江苏省经济和信息化委员会主办，创客公社和南京航空航天大学承办，江苏虚拟软件园、江苏省广播电视总台、江苏省协同创新联盟、江苏省苏商发展促进会等单位共同支持的第二届“i创杯”互联网创新创业大赛复赛在南航将军路校区正式落下帷幕。经过2天比赛，3批路演，6个赛场，30余位专业投资机构评审，36小时的激烈角逐，我司选送的喵小瞳智能行车记录仪项目，在经过激情演绎和层层筛选之后，从千余个创业项目中脱颖而出，成功入围决赛。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="html/20160829.html">
                <div class="news01Left"><img src="img/fm.jpg"/><span>08.29<p>2016</span></div>
                <div class="news01Right"><h1>喵星科技助力中国电信物联网峰会</h1>
                    <p>本月24日和26日，由中国电信天翼物联产业联盟指导，湖北电信和湖南电信分别承办的2016年电信物联网峰会分别在武汉和长沙隆重举行。大会汇集了数百名物联网业界人士，共同探讨了物联网行业的市场前景、前沿技术、热点应用以及物联网与传统行业的融合机会。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="http://news.163.com/16/0823/16/BV5U7GFA00014SEH.html">
                <div class="news01Left"><img src="img/fm01.jpg"/><span>08.23<p>2016</span></div>
                <div class="news01Right"><h1>“我为喵小瞳代言”活动来袭 喵小瞳众筹用户大回馈</h1>
                    <p>作为国内首款可远程操控的智能行车记录仪，喵小瞳上线半年以来迅速在智能行车记录仪市场引发关注，受到众多车主青睐。据了解，喵小瞳不仅在用户端销量一路高歌，甚至得到电信、物流等大客户的关注和认可，达成了长期合作关系。喵小瞳智能行车记录仪凭借其“真智能”为车主带来极大的便捷，逐渐形成了一大批粘性极高的用户群体。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a href="javascript:void(0);" onclick="alert('找不到内容')">
                <div class="news01Left"><img src="img/fm02.jpg"/><span>05.06<p>2016</span></div>
                <div class="news01Right"><h1>《欢乐颂》安迪豪车最配什么行车记录仪?</h1>
                    <p>近期，无数男女爱上了《欢乐颂》里的刘涛和她的豪车。回忆《欢乐颂》中关于安迪的片段，让人印象最深的就是她那酷酷的表情、酷酷的套装以及酷酷的保时捷。剧情至今，安迪已经开了两辆豪车。出场红色保时捷911，动感、时尚，如安迪般个性鲜明、惊艳、大气;到第七集的剧情，安迪开的黑色运动跑车仍然是保时捷，车型是保时捷Panamera。相对于保时捷911，Panamera更有成熟风。当然两款车型都充满了保时捷车型的精致感、时尚感。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="http://zhidx.com/p/35214.html">
                <div class="news01Left"><img src="img/fm03.jpg"/><span>02.10<p>2016</span></div>
                <div class="news01Right"><h1>车载云台摄像机？喵小瞳就这样把行车记录仪玩出了花儿</h1>
                    <p>提起南京喵星科技和它的产品喵小瞳，这么卖萌的名字你也许想不到这是台行车记录仪。不过，这并非是“又一款”简单的车载摄像头，官方将其定义为“全景＋智能”。昨日，智东西（公众号：zhidxcom）与喵星科技CEO顾剑进行了一番两个小时的交流，谈及了公司、团队及这款即将正式发售的产品背后的一系列想法和逻辑。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="notification.htm">
                <div class="news01Left"><img src="img/jjtzjpg.jpg"/><span>01.13<p>2016</span></div>
                <div class="news01Right"><h1>紧急通知</h1>
                    <p>  近日收到部分用户反馈喵小瞳设备开机后无法上网，请遇到此情况的用户按如下步骤进行操作……</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="http://www.taihuoniao.com/topic/view-108066-1.html">
                <div class="news01Left"><img src="img/5655999520de8d60278b6a4a-1-hd.jpg"/><span>11.25<p>2015</span></div>
                <div class="news01Right"><h1>喵小瞳产品试用评测（三）——【原创】能够环视360度的喵小瞳行车记录仪</h1>
                    <p>行车记录仪相信大家并不陌生~那么能够单镜头实现360度旋转拍摄的喵小瞳呢？有幸活的测试资格~现在让我们一起来看看喵小瞳究竟如何吧~</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="http://www.taihuoniao.com/topic/view-107972-1.html">
                <div class="news01Left"><img src="img/56531b6620de8d76258b9fa0-596-hd.jpg"/><span>11.23<p>2015</span></div>
                <div class="news01Right"><h1>喵小瞳产品试用评测（二）——行车记录仪也玩全景，看喵小瞳360度全体验</h1>
                    <p> 行车安全对于有车一族是必须注意的一项安全意识，当然除了车辆安全以外还有就是行驶途中的安全，随着大家的安全意识越来越高，大家对于行驶途中对于行车记录仪的需求也越来越多。的确有时一个行车记录仪里的一段视频，就能够充分还原事实真相，不让任何人蒙受冤屈。据介绍从2012年以后，行车记录仪的销量就呈现上升趋势，年出货量约1000万台，同时行车记录仪也从传统线下发展到互联网+，品牌也随之增多。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="http://www.taihuoniao.com/topic/view-107852-1.html">
                <div class="news01Left"><img src="img/564da87c20de8deb528b81c5-7-hd.jpg"/><span>11.19<p>2015</span></div>
                <div class="news01Right"><h1>喵小瞳产品试用评测（一）——【原创】喵小瞳360°全景智能行车记录仪 --精彩尽收眼底！</h1>
                    <p> 对于有车一族来说，行车记录仪也已经成为了购车后的标配，有些产品也是因为某一条火爆的新闻才让大家知道这个产品的重要性的。其实在国外行车记录仪都属于强制配备的产品，目前在国内行车记录仪的普及度也在慢慢增加，也是因为大家对行车安全和自我保护的重视，传统的行车记录仪只能录制车前方视频，本次要和大家一起了解的是一款可以360°旋转录制的行车记录仪，喵小瞳360°全景行车记录仪。</p>
                </div>
            </a>
            </div><!--news01 end-->


            <div class="news01"><a target="_blank" href="http://sidapai.baijia.baidu.com/article/220592">
                <div class="news01Left"><img src="img/3801213fb80e7bec8e53a91d292eb9389a506b45.jpg"/><span>11.06<p>2015</span></div>
                <div class="news01Right"><h1>处女座偏执狂，“喵小瞳”是一群这样的70后大叔造的</h1>
                    <p>10 月22日，在可穿戴之父AlexPentland和全球首个物联网实验室发起人TomLee等重量级嘉宾参与的在腾讯全球合作伙伴大会上，腾讯QQ物联副总经理毛华为在场观众演示了10余款入驻QQ物联平台的智能硬件，从不同应用场景展现了QQ物联的精彩瞬间。其中，拥有360°全景拍摄、独立通讯模块、远程操控等独特性能的智能行车记录仪“喵小瞳”，以独特玩法和全新的互动体验，成为现场的亮点！

                        那么，这款被腾讯选中的智能行车记录仪——“喵小瞳”是何方神圣？他们又是怎么打造出这么萌宠的智能行车记录仪来呢？</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="http://toutiao.com/i6208734856865284610/ ">
                <div class="news01Left"><img src="img/4598003248.jpg"/><span>10.23<p>2015</span></div>
                <div class="news01Right"><h1>喵小瞳入驻QQ物联平台 变身会用QQ的智能行车记录仪</h1>
                    <p>停车被碰撞、电瓶电量不足，违章停车被贴条……如果有一天，你的爱车出现了这些情况时，行车记录仪会变身QQ好友，通过手机QQ及时给你发消息， 这会不会让你有点小激动？这一幕出现在腾讯全球合作伙伴大会的QQ物联平台展示环节，引发了参会者的关注。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="http://info.autofan.com.cn/info/2015-09-18/5/11027113.xhtml ">
                <div class="news01Left"><img src="img/cb946fc79e30.jpg"/><span>09.18<p>2015</span></div>
                <div class="news01Right"><h1>喵小瞳杀出重围 创始团队却身陷“求内测”困扰</h1>
                    <p>智能行车记录仪又杀出一匹黑马。最近媒体披露，此前在亚洲电子消费展CES Asia展惊艳亮相的“喵小瞳”已经小批量下线，并计划邀请一批种子用户进行内测，以进一步改进用户体验，此举很快引起广泛的关注。

                        记者从接近喵星科技的人士了解到，下线和邀请内测的消息披露之后，阅读数几天内突破了12万。而喵星科技团队成员所在的群，经常被群众好友“求内测”消息轰炸。“很开心，但也有点困扰，毕竟能够提供内测的机器数量有限，我们正在准备这个事情。”喵星科技相关负责人说。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="beta.htm">
                <div class="news01Left"><img src="img/beta-bg-s.jpg"/><span>09.15<p>2015</span></div>
                <div class="news01Right"><h1>喵小瞳火热内测</h1>
                    <p>火热内测中……</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a target="_blank" href="http://www.startup-partner.com/734.html?hot=1">
                <div class="news01Left"><img src="img/E65EDB3BB49D641E68F21B362B431F8F.jpg"/><span>07.23<p>2015</span></div>
                <div class="news01Right"><h1>喵小瞳：创业老男孩“吵”出的智能行车记录仪</h1>
                    <p>招财猫、靴猫、保罗猫、阿兹猫……听到这些萌萌哒的花名，很多人直接想到的是90后创业团队，但这几位起着“萌萌哒”，对“喵星人”有共同爱好兴趣创的业者却是不折不扣的70后“老男孩”。

                    <p>实际上，喵星科技的产品与猫并没有太多关系，喵小瞳是一款可360度旋转、用APP智能操控的智能行车记录仪喵小瞳，虽然目前喵小瞳还没正式发布，但已经在太火鸟蛋年大会、亚太地区CES展大放异彩，并得到富士康的力挺。日前，江苏电视台 “新@财经”栏目深度报道了这个项目之后，几名从东南大学走出来的老男孩，在东大的产业圈及圈子里迅速成为关注的热点...</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a  target="_blank" href="html/20150720.html">
                <div class="news01Left"><img src="img/20150720-logo.jpg"/><span>07.20<p>2015</span></div>
                <div class="news01Right"><h1>南京市市长缪瑞林一行莅临我司指导工作</h1>
                    <p>7月20日上午，为推进“大众创业、万众创新”工作的开展，南京市市长缪瑞林、副市长黄澜在东南大学副校长沈炯和市科委、市人才办、市委宣传部、市人社局、市财政局、市金融办等单位领导的陪同下莅临东南大学国家大学科技园长江后街园区考察调研，随后来到我司参观和指导工作，听取了我司负责人对公司发展的情况汇报，并和我司相关人员进行了亲切的交谈。来访的各位嘉宾们在产品演示过程中，对喵小瞳产品的主要功能和应用场景展现出了浓厚的兴趣。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a  target="_blank" href="http://www.letv.com/ptv/vplay/23119903.html">
                <div class="news01Left"><img src="img/20150821165551.jpg"/><span>07.16<p>2015</span></div>
                <div class="news01Right"><h1>江苏财经频道-老男孩的行车记录仪</h1>
                    <p>喵星科技上江苏财经节目。。。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a  target="_blank" href="http://www.lieyunwang.com/archives/95873">
                <div class="news01Left"><img src="img/37db0ad513ae968.jpg"/><span>07.14<p>2015</span></div>
                <div class="news01Right"><h1>独家：智能行车记录仪喵小瞳获500万天使融资</h1>
                    <p>今日，智能行车记录仪喵小瞳联合创始人杨波向猎云网确认，获得太火鸟、米仓资本、梧桐树资本童玮亮总计近500万元天使融资，种子轮投资方为天使湾。该产品在上海CES展期间由太火鸟主推展出，广受好评。产品预计本月底进行试生产，八月份进行量产。目前喵小瞳也在进行A轮融资，所得资金将用于海外市场和国际合作。

                        行车记录仪冠以“智能”之名后，怎么才算得上名副其实？喵小瞳在智能之上引入轻社交的概念，又能带来什么呢？</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a  target="_blank" href="http://www.1cnmedia.com/chuongye/company/11423.html#">
                <div class="news01Left"><img src="img/c96e0633fee8a30.jpg"/><span>07.13<p>2015</span></div>
                <div class="news01Right"><h1>喵小瞳：“车载机器人” 关注女性车主行车生活</h1>
                    <p>还记得之前备受关注的成都女司机被打一案吗?由于行车记录仪现场视频的曝光，还原了事实真相。不仅仅是在行车过程中，甚至车子只是静静的躺在那儿，车主都可能会摊上交通违章、刮擦、碰瓷、事故等意外状况。行车记录仪能够将现场还原，提供有力证据，解决这些糟心事，这也就保护了车主的利益。行车记录仪成为了国内车主刚需。但是目前市场传统行车记录仪虽占据绝佳的入口但其性能和交互体验不佳，智能行车记录仪处于起步阶段，就如手机由功能机到智能机的转换，市场需要培育和引导。而喵星科技做的是通过物联网技术开发智能行车记录仪“瞄小瞳”作为切入点，为人和车主，车主和车主，提供更智能、更有趣的连接方式。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a  target="_blank" href="http://www.lieyunwang.com/archives/92571">
                <div class="news01Left"><img src="img/bf200712213620b.jpg"/><span>07.01<p>2015</span></div>
                <div class="news01Right"><h1>喵小瞳：关注车主行车生活的小型“车载机器人”</h1>
                    <p>喵星科技CEO刘澄告诉猎云网，喵小瞳可以360°无死角环视监控，可震动预警，当车主离开车后，想看看车门有没有关好，有没有遭受碰擦等，通过手机唤醒喵小瞳就可以实现，足不出门即可用手机实时了解情况，远程抓拍或者视频。

                        一个喵小瞳可以深度关联多类用户，可以是亲戚好友同事、家人、驴友、陌生人、自驾游者等等。刘澄开玩笑说，这也许可以成为老婆实时看老公有没有出轨的利器。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a href="javascript:void(0);" onclick="alert('找不到内容')">
                <div class="news01Left"><img src="img/0025116ac7a116cfad1347.jpg"/><span>05.27<p>2015</span></div>
                <div class="news01Right"><h1>聚焦亚洲消费电子展 全球首款轻社交智能行车记录仪引关注(组图)</h1>
                    <p>5月25日，为期三天的首届亚洲消费电子展（CESAsia）在上海正式开幕。有40多年历史的CES展是全球最大规模的消费科技展会，今年第一次登陆亚洲市场。首届CESAsia展会吸引了全球众多优秀企业参加，覆盖了可穿戴设备、物联网、汽车电子、智能家居、3D打印、机器人、健康、运动等14个领域。本届展会，智能硬件是最大的主角，其中，智能车载产品备受关注。</p>
                    <p>近两年，智能硬件席卷了众多电子消费领域，而在车载领域，尽管“车联网”的概念早早就已提出，但无论是汽车智能互联技术还是智能车载硬件，其智能优势和实用性在此前并未有突出的展现。</p>
                </div>
            </a>
            </div><!--news01 end-->

            <div class="news01"><a href="javascript:void(0);" onclick="alert('找不到内容')">
                <div class="news01Left"><img src="img/20150821170110.jpg"/><span>04.19<p>2015</span></div>
                <div class="news01Right"><h1>东大毕业生创业研发智能车载摄像头</h1>
                    <p>招财猫、靴猫、阿兹猫、木星猫……7名自称喵星人的东南大学毕业生合伙创业。他们研发的第一款产品是名叫iEyelf的智能车载摄像头，该摄像头实现360度全景拍摄、最后500米实景导航，上市价格不超1000元。在最近举办的“中国智能硬件蛋年创新大会”上，该产品从全国1500家智能硬件公司的上千件产品中脱颖而出，入选最火爆智能硬件100强，吸引了包括联想集团在内的多家全国知名企业前来洽谈合作。在东南大学国家大学科技园，记者见到了南京喵星科技有限公司CEO刘澄。“我们7个合伙人外号都带‘猫’，又特幽默，所以公司就叫喵星科技了。”刘澄告诉记者，公司合伙人都毕业于东南大学，集合物联网、无线电、机械设计等专业优势，且有12年以上工作经验。这次研发的iEyelf是类似于行车记录仪，功能又远超于它的智能汽车产品，可以让开车变得更安全更有趣。</p>
                </div>
            </a>
            </div><!--news01 end-->


            <div class="news01"><a  target="_blank" href="html/20150326.html">
                <div class="news01Left"><img src="img/20150326-logo.jpg"/><span>03.26<p>2015</span></div>
                <div class="news01Right"><h1>南京市委书记黄莉新一行莅临我司指导工作</h1>
                    <p>3月26日，南京市委书记黄莉新、副市长黄澜、南京市人才办、发改委、经信委等单位领导在东南大学党委书记郭广银、东南大学国家科技园总经理陆卫兵等领导陪同下，来到位于南京长江后街的东大科技园喵星总部进行考察和指导工作。</p>
                </div>
            </a>
            </div><!--news01 end-->


        </div><!--contentBox end-->
    </div> <!--main end-->
</div>

<div id="footer" class="footer_first">
    <div class="container">
        <div class="footer-menu d-flex flex-wrap">
            <div class="footer-column">
                <h3>友情合作</h3>
                <ul>
                    <li><a target="_blank" href="http://www.tisiwi.com/">天使湾创投</a></li>
                    <li><a target="_blank" href="http://iot.open.qq.com/">腾讯QQ物联</a></li>
                    <li><a target="_blank" href="http://www.foxconn.com.cn/">富士康科技集团</a></li>
                    <li><a target="_blank" href="http://www.ctoutiao.com/">创头条</a></li>
                    <li><a target="_blank" href="http://www.lkkdesign.com/">洛可可</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>联系我们</h3>
                <ul>
                    <li><a>地址：江苏省南京市长江后街6号东大科技园</a></li>
                    <li><a>邮箱：mp@mplanet.cn</a></li>
                    <li><a>电话：025-52233243</a></li>
                    <li><a>QQ客服：3422019763<br/>（工作时间：周一至周五 9:00-18:00）</a></li>
                </ul>
            </div>
            <div class="footer-column footer-contact">
                <h3>关注我们</h3>
                <ul>
                    <li><img src="img/gzh.png"></li>
                </ul>
            </div>
        </div>
        <div class="end">
            <a href="http://www.beian.miit.gov.cn">苏ICP备14042110号</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;南京喵星科技有限公司<br>
        </div>
    </div>

</div>
    <div id="ProductTipLayer" style="display:none;"><script language="javascript" type="text/javascript" src="http://js.users.51.la/18617005.js"></script></div>
    <script type="text/javascript">
        $('.navbar-default .navbar-nav > li:last-of-type > a').hover(function(){
            $(this).children('img').attr('src','img/phone_blue.png');
        },function () {
            $(this).children('img').attr('src','img/phone.png');
        })
    </script>
</body>
</html>
