<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mplanet-喵星科技</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="description" content="南京喵星科技（www.mplanet.cn）是一家专注于车载智能硬件研发设计，集制造、销售和服务为一体的移动互联网科技公司。喵星旨在利用前沿的计算机视觉、移动互联网技术以及业内领先的软硬件设计和工业设计经验，通过颠覆式的智能汽车产品服务，带给用户更有趣、更智慧、更方便、更人性的极致车生活体验。" />
    <meta name="keywords"  content="mplanet,meowcloud,喵小瞳,喵星科技,喵星" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/example.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <style type="text/css">
		.product-main .product_show{
			padding-left:20%;
			padding-right:20%
		}
		.product-show-main{
			background:#f5f8fa
		}
    </style>
</head>
<body id="show">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="true">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="img/logo1.png" title="喵星科技" alt="喵星科技"></a>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar" aria-expanded="true" style="">
            <ul class="nav navbar-nav">
                <li><a href="index.html">首页</a></li>
                <li><a href="solutions.html">解决方案</a></li>
                <li><a href="product.html" class="nav_active">产品中心</a></li>
                <li><a href="mplanetmedia.html">新闻中心</a></li>
                <li><a href="talent.html">招纳贤士</a></li>
                <li><a href="javascript:void(0)" class="login_menu"><img src="img/phone.png">025-52233243</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="hidden-header">

</div>

<div class="container">
	<div class="col-sm-12 solve-main-title">
		<h1>Product Center</h1>
		<h3>产品中心</h3>
	</div>
</div>
<div class="container-fluid product-show-main">
	<div class="container product-main">
		<div class="col-md-12">
			
			<div class="col-md-6">
				<h3>工程机械机联网管理云平台</h3>
				<h3>面向大中型机队的远程管理专家</h3>
				<div class="solution_content">
					<p>工作状态实时监控：工时、油耗、油温、油压、水温、电瓶电压等工作参数实时动态监控；</p>
					<p>作业现场远程可视化管理：数据大屏、实时远程监控、实时语音对讲遥控指挥作业；</p>
					<p>安防预警监控：实时定位、轨迹跟踪、动态围栏、异常展动预警、油位预警、故障预警；</p>
					<p>作业收支记录：针对每台工程机械的每日收支记录和月收支统计；</p>
					<p>报表统计：各类工作日报和月报，机械健康管理分析、营收统计分析。</p>
				</div>
			</div>
			<div class="col-md-6">
				<span href="#" class="thumbnail">
					<img class="media-object img-rounded" src="img/product2.png">
				</span>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-6">
				<span href="#" class="thumbnail">
					<img class="media-object img-rounded" src="img/product1.png">
				</span>
			</div>
			<div class="col-md-6">
				<h3>智能家居安防终端综合运营管理平台</h3>
				<div class="solution_content">
					<p>用户管理：对用户按照区域、经销渠道、使用情况进行网格化理；</p>
					<p>智能终端管理：对智能终端基础信息、分组信息、关联状态、使用状态和运行日志等信息进行管理；</p>
					<p>运营管理：包括数据大屏、运营消息推送、商城服务、历史数据询和统计、安全监测服务和其他数据扩展服务等场化功能和服务；</p>
					<p>Call-center子系统：帮助服务商建设具有智能语音外呼功能的安防预警系统，一旦监测到警情，通过电话、短信、微信消息等方式及时有效通知用户；</p>
					<p>销售管理子系统：包括经销渠道管理、终端设备生产管理和出入库管理、终端服务费管理等功能。</p>
				</div>
			</div>
		   
		</div>
		<div class="container product_show">
			<div class="col-xs-5 col-sm-4">
				  <span href="#" class="thumbnail">
					  <img src="img/product_1.png" class=" img-rounded">
					  <div class="box-content">
						  <h4 class="titles">4G智能摄像头</h4>
						  <div class="product-content">
							  <p>4G全网通，APP远程操控，配备红外模组，智能识别光线强弱；双向语音对讲和360°视频直播监控</p>
						  </div>
					  </div>
				  </span>
			</div>
			<div class="col-xs-5 col-sm-4">
				  <span href="#" class="thumbnail">
					  <img src="img/product_2.png" class=" img-rounded">
					  <div class="box-content">
						  <h4 class="titles">物联网烟雾报警器</h4>
						  <div class="product-content">
							  <p>GSM/WiFi/zigbee网络支持，用于烟雾、TVOC、温湿度监测，超低功耗，无源供电，支持短信、APP消息和微信提醒</p>
						  </div>
					  </div>
				  </span>
			</div>
			<div class="col-xs-5 col-sm-4">
				<span href="#" class="thumbnail">
					<img src="img/product_3.png" class=" img-rounded">
					<div class="box-content">
						  <h4 class="titles">物联网燃气报警器</h4>
						  <div class="product-content">
							  <p>GSM/WiFi/zigbee网络支持，用于燃气、CO、TVOC、温湿度监测，支持短信、APP消息和微信提醒</p>
						  </div>
					  </div>
				</span>
			</div>
			<div class="col-xs-5 col-sm-4">
			   <span href="#" class="thumbnail">
					 <img src="img/product_4.png" class=" img-rounded">
					 <div class="box-content">
						  <h4 class="titles">3G智能摄像头</h4>
						  <div class="product-content">
							  <p>3G/WiFi网络，APP远程操控，一键抓拍照片和短视频极速上报，配备360°电驱动全景云台</p>
						  </div>
					 </div>
			   </span>
			</div>
			<div class="col-xs-5 col-sm-4">
				<span href="#" class="thumbnail">
					<img src="img/product_7.png" class=" img-rounded">
					<div class="box-content">
						  <h4 class="titles">北美版智能摄像头</h4>
						  <div class="product-content">
							  <p>北美4G制式，已通过FCC认证和CTIA认证，可接入AWS云平台，支持驾驶行为辅助监控和驾驶安全风险预警</p>
						  </div>
					</div>
				</span>
			</div>
			<div class="col-xs-5 col-sm-4">
			   <span href="#" class="thumbnail">
					<img src="img/product_6.png" class=" img-rounded">
					<div class="box-content">
						  <h4 class="titles">特种机械智能终端</h4>
						  <div class="product-content">
							  <p>4G/WiFi网络，支持GPS和北斗双模定位，整合OBD模组，可实时监控车况数据、智能防盗和故障报警，并支持远端对讲指挥</p>
						  </div>
					</div>
			   </span>
			</div>
		</div>
	</div>
</div>
<div id="footer">
    <div class="container">
        <div class="footer-menu d-flex flex-wrap">
            <div class="footer-column">
                <h3>友情合作</h3>
                <ul>
                    <li><a target="_blank" href="http://www.tisiwi.com/">天使湾创投</a></li>
                    <li><a target="_blank" href="http://iot.open.qq.com/">腾讯QQ物联</a></li>
                    <li><a target="_blank" href="http://www.foxconn.com.cn/">富士康科技集团</a></li>
                    <li><a target="_blank" href="http://www.ctoutiao.com/">创头条</a></li>
                    <li><a target="_blank" href="http://www.lkkdesign.com/">洛可可</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>联系我们</h3>
                <ul>
                    <li><a>地址：江苏省南京市长江后街6号东大科技园</a></li>
                    <li><a>邮箱：mp@mplanet.cn</a></li>
                    <li><a>电话：025-52233243</a></li>
                    <li><a>QQ客服：3422019763<br/>（工作时间：周一至周五 9:00-18:00）</a></li>
                </ul>
            </div>
            <div class="footer-column footer-contact">
                <h3>关注我们</h3>
                <ul>
                    <li><img src="img/gzh.png"></li>
                </ul>
            </div>
        </div>
        <div class="end">
            <a href="http://www.beian.miit.gov.cn">苏ICP备14042110号</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;南京喵星科技有限公司<br>
        </div>
    </div>

</div>
<div id="ProductTipLayer" style="display:none;"><script language="javascript" type="text/javascript" src="http://js.users.51.la/18617005.js"></script></div>
<script type="text/javascript">
    $('.navbar-default .navbar-nav > li:last-of-type > a').hover(function(){
        $(this).children('img').attr('src','img/phone_blue.png');
    },function () {
        $(this).children('img').attr('src','img/phone.png');
    })
</script>
</body>
</html>
