<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mplanet-喵星科技</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="description" content="南京喵星科技（www.mplanet.cn）是一家专注于车载智能硬件研发设计，集制造、销售和服务为一体的移动互联网科技公司。喵星旨在利用前沿的计算机视觉、移动互联网技术以及业内领先的软硬件设计和工业设计经验，通过颠覆式的智能汽车产品服务，带给用户更有趣、更智慧、更方便、更人性的极致车生活体验。" />
    <meta name="keywords"  content="mplanet,meowcloud,喵小瞳,喵星科技,喵星" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/example.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <style type="text/css">
		.talent-main .thumbnail{
			padding-left:15%;
			padding-right:15%
		}
    </style>
</head>
<body id="show">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="true">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="img/logo1.png" title="喵星科技" alt="喵星科技"></a>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar" aria-expanded="true" style="">
            <ul class="nav navbar-nav">
                <li><a href="index.html">首页</a></li>
                <li><a href="solutions.html">解决方案</a></li>
                <li><a href="product.html">产品中心</a></li>
                <li><a href="mplanetmedia.html">新闻中心</a></li>
                <li><a href="talent.html" class="nav_active">招纳贤士</a></li>
                <li><a href="javascript:void(0)" class="login_menu"><img src="img/phone.png">025-52233243</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="hidden-header">

</div>
<div class="container">
    <div class="col-sm-12 solve-main-title">
        <h1>Talent Recruitment</h1>
        <h3>招纳贤士</h3>
    </div>
</div>
<div class="container-fluid talent-main">
    <div class="container">
        <div class="col-xs-4">
            <span href="#" class="thumbnail">
                <img class="media-object img-rounded" src="img/talent(2).png">
            </span>
            <ul class="talent-content">
                <li>1.精通C语言</li>
                <li>2.深入理解款以上ARM平台SOC系统架构，理解常用外围设备工作原理</li>
                <li>3.熟悉Linux平台下应用程序的开发或使用过1款以上嵌入式RTOS操作系统或有相关项目开发经验</li>
                <li>4.勤于思考、善于分析、思路清晰，善于利用多种途径解决问题</li>
                <li>5.良好的沟通能力和团队合作精神</li>
                <li>6.乐于接受新事物和新技术的挑战，能够融会贯通的使用多种技术解决问题</li>
            </ul>
        </div>
        <div class="col-xs-4">
            <span href="#" class="thumbnail">
                <img class="media-object img-rounded" src="img/talent(1).png">
            </span>
            <ul class="talent-content">
                <li>1.精通HTML5、CSS3、 JavaScript、jQuery、 Ajax等前端相关技术，熟悉W3C标准，能够高标准还原设计稿，代码风格严谨工整</li>
                <li>2.熟练掌握前端技术架构与性能优化方法</li>
                <li>3.熟悉前后端分离技术，熟悉PHP或Python等后台开发语言，掌握Angularjs、React.js、 Vue等框架者优先</li>
                <li>4.有微信公众号、小程序开发经验者优先</li>
            </ul>
        </div>
        <div class="col-xs-4">
            <span href="#" class="thumbnail">
                <img class="media-object img-rounded" src="img/talent(3).png">
            </span>
            <ul class="talent-content">
                <li>1. 一年以上实际项目开发经验</li>
                <li>2. 熟悉Android平台的架构，熟悉Android SDK</li>
                <li>3.勤于思考、善于分析、思路清晰，善于利用多种途径解决问题</li>
                <li>4.有良好的学习能力和沟通能力</li>
                <li>5.有视频类或物联网产品应用经验优先</li>
            </ul>
        </div>
        <div class="col-xs-12 email">
            <p>招聘邮箱：hr@mplanet.cn</p>
            <p>请发送个人简历到招聘邮箱，我们尽快与您联系，期待您的加入</p>
        </div>
    </div>
</div>
<div class="container-fluid talent_office">
    <span href="#" class="thumbnail">
        <img class="media-object img-rounded" src="img/office.png">
    </span>
</div>
<div id="footer">
    <div class="container">
        <div class="footer-menu d-flex flex-wrap">
            <div class="footer-column">
                <h3>友情合作</h3>
                <ul>
                    <li><a target="_blank" href="http://www.tisiwi.com/">天使湾创投</a></li>
                    <li><a target="_blank" href="http://iot.open.qq.com/">腾讯QQ物联</a></li>
                    <li><a target="_blank" href="http://www.foxconn.com.cn/">富士康科技集团</a></li>
                    <li><a target="_blank" href="http://www.ctoutiao.com/">创头条</a></li>
                    <li><a target="_blank" href="http://www.lkkdesign.com/">洛可可</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>联系我们</h3>
                <ul>
                    <li><a>地址：江苏省南京市长江后街6号东大科技园</a></li>
                    <li><a>邮箱：mp@mplanet.cn</a></li>
                    <li><a>电话：025-52233243</a></li>
                    <li><a>QQ客服：3422019763<br/>（工作时间：周一至周五 9:00-18:00）</a></li>
                </ul>
            </div>
            <div class="footer-column footer-contact">
                <h3>关注我们</h3>
                <ul>
                    <li><img src="img/gzh.png"></li>
                </ul>
            </div>
        </div>
        <div class="end">
            <a href="http://www.beian.miit.gov.cn">苏ICP备14042110号</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;南京喵星科技有限公司<br>
        </div>
    </div>

</div>
<div id="ProductTipLayer" style="display:none;"><script language="javascript" type="text/javascript" src="http://js.users.51.la/18617005.js"></script></div>
<script type="text/javascript">
    $('.navbar-default .navbar-nav > li:last-of-type > a').hover(function(){
        $(this).children('img').attr('src','img/phone_blue.png');
    },function () {
        $(this).children('img').attr('src','img/phone.png');
    })
</script>
</body>
</html>
